#cart-widget{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    #icon-cart{
        width: 6vh;
        height: 6vh;
        padding: 1vh;
        border-radius: 100%;
        img{
            width: 100%;
        }
        &:hover{
            background-color: rgba(128, 128, 128, 0.205);
            cursor: pointer;
        }
    }
}